* {
    box-sizing: border-box;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #FF5A34;
}

nav>a {
    color: #ffffff;
    text-decoration: none;
}

nav>a:visited {
    color: #ffffff;
    text-decoration: none;
}

body {
    padding: 0px;
    margin: 0px;
}

main {
    padding: 16px;
}

h1 {
    color: #146152;
}

h3>a {
    color: #44803E;
    text-decoration: none;
}

h3>a:visited {
    color: #44803E;
    text-decoration: none;
}

.griddy {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.taco-img {
    height: 200px;
}

footer {
    margin: 24px 0px 0px;
    padding: 24px;
    background-color: #B5D066;
}

.zebra tbody>tr:nth-child(2n) {
    background-color: #DBDBDB;
}
